@font-face {
    font-family: Pier Sans;
    src: url(fonts/piersans.otf);
}

body {
    margin: 0;
    font-family: Pier Sans;
}

header {
    padding: 1rem 1rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid #aaa;
}

header .logo {
    width: 30%;
    height: 100%;
}

header .title {
    font-size: 2rem;
}


header img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }
  
  @media(min-width: 500px) {
    .gallery{
      grid-template-columns: 1fr 1fr;
      padding: 10px;
    }
  }
  @media(min-width: 700px) {
    .gallery{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .item {
    background: lightblue;
    border-radius: 4px;
    
    display: grid;
    place-content: center;
  /*   justify-content: center;
    align-items: center; */
  }
  
  .item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }